body {
  background-color: black;
  font-family: arial;
  color: white;

  height: 100vh;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  /* margin: 0 auto; */
}

.highligh {
  background-color: palegoldenrod;
}

footer {
  text-decoration: underline;
}
